<form class="custom-form">
  <h1 class="page-title">Student Information</h1>
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <span id="firstName">{{ viewStudentForm.get('firstName')?.value }}</span>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <span id="email">{{ viewStudentForm.get('email')?.value }}</span>
  </div>
  <div class="form-group">
    <label for="departmentName">Department:</label>
    <span id="departmentName">{{ viewStudentForm.get('department')?.value?.departmentName }}</span>
  </div>
  <div class="form-group">
    <label for="courseName">Course:</label>
    <span id="courseName">{{ viewStudentForm.get('course')?.value?.courseName }}</span>
  </div>
  <button type="submit" routerLink="">Back</button>
</form>
